<!DOCTYPE html>
<html>
<head>
  <title>SecondOpinion</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to_unless_current "Landing", info_path %>
	<%= link_to_unless_current "Info", landing_path %>

<%= yield %>

</body>
</html>
